@font-face {
	font-family: "Satoshi";
	src: url("../../assets/fonts/satoshi/satoshi-regular.woff2") format("woff2");
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("../../assets/fonts/satoshi/satoshi-bold.woff2") format("woff2");
	font-weight: 700; /* Bold */
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("../../assets/fonts/satoshi/satoshi-semibold.woff2") format("woff2");
	font-weight: 600; /* Semibold */
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("../../assets/fonts/satoshi/satoshi-light.woff2") format("woff2");
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("../../assets/fonts/satoshi/satoshi-extrabold.woff2") format("woff2");
	font-weight: 800; /* Extra Bold */
	font-style: normal;
}
